*{

}

body{
  font-size: 18px;
}



#page_header #page_title{
  text-align: center;
  font-size: 33px;
}

/* general */

#select_post{
  display: block;
}

#first_form{
  position: absolute;
  background-color:white; 
  right: 35%;
  border: 1px solid black;
  border-radius: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  padding: 20px;  
  text-align: center;
  font-size: 23px;
  top: 23%;
  padding-bottom: 0px;
}


#first_form td{
  font-size: 18px;
  padding-left: 25px;  
}

#first_form input{
  font-size: 18px; 
}


#first_form td input[type=reset],#first_form td input[type=button]{
    width: 100px;
background: #27AE60;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
margin-top: 25px;
}

#first_form td input[type=file]{
  font-size: 15px;
}

#first_form #ph_instruct{
  text-align: center;
  font-size: 15px;
}

#first_form td select{
  font-size: 15px; 
}


/* first section*/

#select_post_title{
  cursor: pointer;
}

#first_entry{
  display: block;
}

#add_content{
  text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  display: none;
  margin-top:50px ; 
  margin-bottom:20px;
}

#add_content input{
  font-family:  Georgia, "Times New Roman",Serif;
}

#first #selection_type{
  cursor: pointer;
}

#edit_content{
  text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  display: none;
  margin-top:50px ; 
  margin-bottom:20px;
}

#edit_content input{
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
}


#admin_page #first{
  border-right: 1px solid grey;
  min-height: 600px;
}
#admin_page #first{
  border-right: 1px solid grey; 
}

#admin_page #content_views{
  display: none;
}
.tag_div_section input{
    font-size: 17px;
}