@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic|Share+Tech+Mono|Oxygen+Mono);
body { 
  font-family: 'Quattrocento Sans', sans-serif;
}

.blog{
	height: 93vh;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 101.12%;
}

#blog_post_small{
	border:1px solid black;
	border-radius:3px;
	padding:15px;
	margin:20px;
	overflow: hidden;/*to stop for oveflowing ... note height not given here*/
}
#blog_post_small > h2{
	font-size: 20px;
}

#blog_post_small > #s_author{
	position: relative;
	float:right;
	font-size:18px;
}
#blog_post_small > #s_content{
	font-size: 18px;
}

#secondary_section {
	padding: 50px;
	height: 105%;
	overflow-y: scroll;
}

#inner_text > #b_author{
	text-align: right;
	font-size:20px;
}

#inner_text > #b_content{
	font-size: 19px;
}

#profile_description {
	padding-top: 100px;
	border-right: 1px solid grey;
	height: 107%;
	background-color: rgb(232, 223, 147);
}

#profile_description  #profile_pic {
	width:58%;
	-webkit-border-radius:100%;
	border: 3px solid #a8a6a8;
	border-radius: 50%;
   -webkit-radial-gradient(white,grey);
  -webkit-radial-gradient: red,white;
  color:rgba(255,255,255,0.7);
  -webkit-transition:-webkit-border-radius 1s,opacity 1s,border 1s,padding 1s;
  -moz-border-radius:100%;
   -moz-radial-gradient(white,grey);
  -moz-radial-gradient: red,white;
  -moz-transition:-moz-border-radius 1s,opacity 1s,border 1s,padding 1s;
}

#profile_description #aboutme_short{
	margin-top:0.3em;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid grey; 
}
#profile_description #social_link{
	text-align: center;
}

#profile_description #social_link img{
	width:50px;
	padding-top: 1em;
	padding-bottom: 1em;
}

#navigation_section{
	font-size: 20px;
	text-align: center;
	/*border-top: 1px solid rgb(182, 182, 182);*/
}
#navigation_section a:hover{
	text-decoration: none;
}

#navigation_section #nav_node{
	cursor: pointer;
	display: block;
}

@media only screen and (max-width:750px) {
	#secondary_section,#profile_description{
		height: auto;
	}
	#blog_post_small {
		margin: 10px 5px 0px 5px ;
		padding: 8px;
	}
	#secondary_section{
		padding: 20px;
	}
}